@media print, screen {
    .contact {
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contactInfo {
        font-size: 15px;
        padding: 0;
        margin-bottom: 10px;
    }

    .contactInfo p {
        margin: 0;
        padding: 0;
    }

    .contactInfo h4 {
        font-size: 15px;
        font-weight: 600;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0;
        margin: 0 0 5px 0;
    }
}