@media print, screen {
.languages {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.languagesInfo {
    font-size: 15px;
    padding: 0;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.languagesInfo p {
    margin: 0;
    padding: 0;
}

.languagesInfo h4 {
    font-size: 15px;
    font-weight: 600;
    padding: 0;
    margin: 0 0 5px 0;
}
}