@media print, screen {
    .rating {
        height: 17px;
        display: flex;
        flex-direction: row;
    }

    .rating div {
        background-color: #d5d6d6;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        margin: 0 2.5px;
    }

    .rating div.isSet {
        background-color: #343434;
    }
}