@media print, screen {
    .summary{
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0 0 0 60px;
        padding: 0;
    }

    .summary h3{
        margin: 0;
        padding: 0;
    }

    .summary p{
        font-size: 14px;
        text-align: justify;
        margin: 0 0 0 11px;
        padding: 10px 0 0 30px;
        border-left: 2px solid #d5d6d6;
    }
}