@media print, screen {
    .title{
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: -25px;
    }

    .titleEntry{
        text-align: left;
    }

    .titleIcon{
        position: absolute;
        display: block;
        margin-top: 10px;
        font-size: 90px;
        color: #252932;
        margin-left: 9px;
    }

    .titleContainer{
        padding-left: 5.8rem;
        display: block;
        position: relative;
    }

    .titleContainer h2{
        margin-top: 0px;
    }
}